.formSection {
  margin-top: 50px;
}

.largeContainer {
  width: 1100px;
  margin: auto;
}

.largeContainer img {
  width: 100%;
}

.smallContainer {
  width: 800px;
  margin: auto;
}

.smallContainer h2 {
  margin-top: 16px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #333;
}

.smallContainer p {
  margin-top: 16px;
  font-size: large;
  color: gray;
  line-height: 30px;
}

.formSection form {
  width: 500px;
  margin: 40px auto 0;
}

.dropdownMenu {
  position: relative;
  margin: 16px 0 0;
}

.dropdownMenu::after {
  content: '';
  width: 7px;
  height: 7px;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  transform: rotate(45deg);
  position: absolute;
  top: 13px;
  right: 16px;
  pointer-events: none;
}

.dropdownMenu select {
  width: 100%;
  height: 40px;
  color: gray;
  border: 1px solid #aaa;
  padding: 10px;
  appearance: none;
  color: gray;
  font-size: 100%;
  font-family : inherit;
}

.formSection form input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  color: gray;
  border: 1px solid #aaa;
  padding: 10px;
  font-size: 100%;
  font-family : inherit;
}

.formSection form textarea {
  width: 100%;
  height: 300px;
  margin-top: 16px;
  padding: 10px;
  resize: none;
  color: gray;
  border: 1px solid #aaa;
  font-size: 100%;
  font-family : inherit;
}

.formSection button {
  margin: 16px auto 80px;
  display: block;
  padding: 8px 32px;
  background-color: #333;
  color: white;
  cursor: pointer;
  font-size: 100%;
  font-family : inherit;
}

.formSection button:focus {
  outline: 1px solid dodgerblue;
}

.formSection button:hover {
  opacity: 0.8;
}

@media (max-width:1100px) {
  .largeContainer {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .smallContainer {
    width: 100%;
    padding: 0 16px;
  }

  .formSection form {
    width: 100%;
    padding: 0 16px;
  }
}