main .form-section form {
  width: 500px;
  margin: 70px auto 0;
}

main .form-section form .dropdown-menu {
  position: relative;
  margin: 10px 0;
}

main .form-section form .dropdown-menu::after {
  content: '';
  width: 7px;
  height: 7px;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  transform: rotate(45deg);
  position: absolute;
  top: 13px;
  right: 16px;
  pointer-events: none;
}

main .form-section form .dropdown-menu select {
  width: 100%;
  height: 40px;
  outline: none;
  color: gray;
  border: 1px solid gray;
  padding: 10px;
  appearance: none;
  color: #333;
}

main .form-section form input {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  color: gray;
  outline: none;
  border: 1px solid gray;
  padding: 10px;
}

main .form-section form textarea {
  width: 100%;
  margin: 10px 0;
  resize: none;
  color: gray;
  font-family: 'Inter', sans-serif;

  outline: none;
  border: 1px solid gray;
  padding: 10px;
}

main .form-section button {
  margin: 10px auto 60px;
  display: block;
  width: 200px;
  height: 50px;
  outline: none;
  font-size: 17px;

  background-color: #333;
  border: 2px solid transparent;
  color: white;

  transition: 0.3s;
  cursor: pointer;
}

main .form-section button:hover {
  opacity: 0.7;
}