@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.header {
  width: 100%;
  padding: 16px;
}

.logo {
  font-size: 50px;
  text-decoration: none;
  color: #000;
  font-family: 'Inter', sans-serif;
}

.globalNav {
  float: right;
  display: flex;
  list-style: none;
  margin-top: 12px;
}

.globalNavItem {
  text-decoration: none;
  color: #777;
  margin-left: 32px;
}

.active {
  color: #000;
}

.globalNavItem:hover {
  color: #000;
}

.barsWrapper {
  float: right;
  margin: 16px 8px;
  cursor: pointer;
  display: none;
}

.barsWrapper:hover {
  opacity: 0.8;
}

.bars {
  color: #777;
  font-size: x-large;
}

@media (max-width: 800px) {
  .logo {
    font-size: 40px;
  }
  .globalNav {
    display: none;
  }
  .barsWrapper {
    display: block;
  }
}