@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

header {
  width: 100%;
  background-color: #fff;
  padding: 16px;
}

header .logo {
  font-size: 50px;
  text-decoration: none;
  color: #000;
  font-family: 'Inter', sans-serif;
}

header .global-nav {
  float: right;
  display: flex;
  list-style: none;
  margin-top: 12px;
}

header .global-nav li a {
  text-decoration: none;
  color: #777;
  margin-left: 32px;
}

header .global-nav li .active {
  color: #000;
}

header .global-nav li a:hover {
  color: #000;
}

header .bars {
  float: right;
  cursor: pointer;
  margin-top: 12px;
  color: #777;
  font-size: x-large;
  display: none;
}

header .bars:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  header .logo {
    font-size: 40px;
  }
  header .global-nav {
    display: none;
  }
  header .bars {
    display: block;
  }
}






/* HAMBURGER-MENU */
.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background-color: #aaa;
}

.hamburger-menu .times {
  float: right;
  margin-right: 11px;
  font-size: xx-large;
  color: white;
  cursor: pointer;
  margin-top: 23px;
}

.hamburger-menu .times:hover {
  opacity: 0.8;
}

.hamburger-menu .global-nav {
  margin-top: 100px;
  list-style: none;
  padding-inline-start: 0;
  
}

.hamburger-menu .global-nav li {
  text-align: center;
  margin-bottom: 30px;
}

.hamburger-menu .global-nav li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.hamburger-menu .global-nav li a:hover {
  opacity: 0.8;
}