@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

header {
  width: 100%;
  background-color: #fff;
  padding: 16px;
}

header .logo {
  font-size: 50px;
  text-decoration: none;
  color: #000;
  font-family: 'Inter', sans-serif;
}

header .global-nav {
  float: right;
  display: flex;
  list-style: none;
  margin-top: 12px;
}

header .global-nav li a {
  text-decoration: none;
  color: #777;
  margin-left: 32px;
}

header .global-nav li .active {
  color: #000;
}

header .global-nav li a:hover {
  color: #000;
}

header .bars-wrapper {
  float: right;
  padding: 16px 8px;
  cursor: pointer;
  display: none;
}

header .bars {
  color: #777;
  font-size: x-large;
}

header .bars-wrapper:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  header .logo {
    font-size: 40px;
  }
  header .global-nav {
    display: none;
  }
  header .bars-wrapper {
    display: block;
  }
}