.message-section {
  text-align: center;
  height: 400px;
  display: table;
  width: 100%;
}

.message-section div {
  display: table-cell;
  vertical-align: middle;
}

.message-section h2 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #333;
}

.message-section div p {
  margin: 16px 0 8px;
  color: gray;
}

.message-section div a {
  text-decoration: none;
}

.message-section div a:hover {
  text-decoration: underline;
}