.messageSection {
  text-align: center;
  padding-bottom: 40px;
}

.messageSection h2 {
  margin-top: 60px;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #333;
}

.messageSection p {
  margin-top: 16px;
  font-size: large;
  color: gray;
}

.messageSection button {
  margin: 32px auto 80px;
  display: block;
  padding: 8px 32px;
  background-color: #333;
  color: white;
  cursor: pointer;
  font-size: 100%;
  font-family : inherit;
}

.messageSection button:focus {
  outline: 1px solid dodgerblue;
}

.messageSection button:hover {
  opacity: 0.8;
}