@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.section {
  margin-top: 50px;
}

.section .large-container img {
  width: 100%;
}

.section .small-container img {
  width: 100%;
}

.section>div:last-child {
  padding-bottom: 50px;
  border-bottom: 1px solid lightgray;
}

.section:last-child>div:last-child {
  border-bottom: none;
}

.section h2 {
  margin-top: 16px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 38px;
  color: #333;
}

.section p {
  font-size: 19px;
  color: gray;
  margin: 30px;
  line-height: 30px;
}

.section ul li {
  font-size: 19px;
  color: gray;
  margin: 15px;
  line-height: 30px;
}

@media (max-width:800px) {
  .section .small-container p {
    margin-left: 0;
    margin-right: 0;
  }

  .section .small-container ul {
    padding-inline-start: 20px;
  }
}